# datafiles
*.h5
*.hdf5

# log files
*.log

# Python binaries
__pycache__
*.pyc
*.egg-info
dist

# Python virtual environments
Pipfile
Pipfile.lock

# Jupyter checkpoints
.ipynb_checkpoints

# C++ binaries
*.so
*.dSYM
.DS_Store

# build directory
build

# IDE settings
.idea